<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="content-type" content="text/html" charset="cp1251">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="top_tools">
        <h4 class="form_label">Загрузить файл:</h4>
        <form class="uploading_form" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ upload_form.as_table }}
            <input type="submit" value="Upload" class="submit_btn">
        </form>
    </div>

    {% block body %}
    {% endblock %}
</body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'js\file_upload.js' %}"></script>-->
</html>